@import "tailwindcss";

@theme {
  --color-gray-950: hsl(255 22% 4%);
  --color-gray-900: hsl(248 17% 9%);
  --color-gray-850: hsl(248 15% 11%);
  --color-gray-800: hsl(248 10% 15%);
  --color-gray-700: hsl(248 5% 34%);
  --color-gray-600: hsl(251 9% 53%);
  --color-gray-200: hsl(252 11% 91%);
  --color-green-200: hsl(127 100% 82%);
  --color-yellow-300: hsl(42 91% 68%);
  --color-orange-400: hsl(13 95% 66%);
  --color-red-500: hsl(0 91% 63%);

  --text-3xl: 2rem;
  --container-xl: 33.75rem;
}

input[type=checkbox]:checked {
  background-image: url('/icon-check.svg');
  background-position: center;
  background-repeat: no-repeat;
}

input[type=range] {
  appearance: none;
  width: 100%;
  background: transparent;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    &::-webkit-slider-thumb {
      background-color: var(--color-gray-850);
      border-color: var(--color-green-200);
      box-shadow: 0 0 0 3px var(--color-green-200);
    }

    &::-moz-range-thumb {
      background-color: var(--color-gray-850);
      border-color: var(--color-green-200);
      box-shadow: 0 0 0 3px var(--color-green-200);
    }
  }

  &::-webkit-slider-thumb {
    appearance: none;
    margin-top: -0.45rem;
    width: 1.5rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--color-gray-200);
    cursor: pointer;
    border: 2px solid var(--color-gray-200);
  }

  &::-moz-range-thumb {
    width: 1.5rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--color-gray-200);
    cursor: pointer;
    border: 2px solid var(--color-gray-200);
  }

  &::-ms-thumb {
    width: 1.5rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--color-gray-200);
    cursor: pointer;
    border: 2px solid var(--color-gray-200);
  }


  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.5rem;
    cursor: pointer;
    background: linear-gradient(
      to right, 
      var(--color-green-200) var(--fill, 0%),
      var(--color-gray-850) var(--fill, 0%)
      );
    border-radius: 8px;
  }

  &::-ms-track {
    width: 100%;
    height: 0.5rem;
    cursor: pointer;
    background: linear-gradient(to right,
        var(--color-green-200) var(--fill, 0%),
        var(--color-gray-850) var(--fill, 0%));
    border-radius: 8px;
  }

  &::-moz-range-track {
    width: 100%;
    height: 0.5rem;
    cursor: pointer;
    background: linear-gradient(to right,
        var(--color-green-200) var(--fill, 0%),
        var(--color-gray-850) var(--fill, 0%));
    border-radius: 8px;
  }
}